<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Home Page</h2>
    <h4>This is simple weather status app.</h4>
    <div>
        <p>In url add "/api/weather?city=XXXXXXX&state=YY&country=ZZ"</p>
        <p>replace xxxxxx with city full name.</p>
        <p>replace yy with state name. State name is 2 letter only. State name is optional.</p>
        <p>replace zz with country name. Country name is 2 letter only. Default country is 'us'. </p> <br>
        <a href="/api/weather?city=portland">city Portland</a> <br>
        <a href="/api/weather?city=portland&country=us">city Portland, country US</a> <br>
        <a href="/api/weather?city=portland&country=us&state=or">city Portland, state OR, country US</a>
    </div>
</body>
</html>